.production {
  padding: 20vh 10% 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  > :nth-child(1).step,
  > :nth-child(2).step {
    width: 30%;
    margin: 1% 5%;
  }
  .step {
    width: 30%;
    height: fit-content;
    margin: 1%;
    padding: 10px 5px;
    transform: translateY(100px);
    opacity: 0;
    animation: slideUp ease-out forwards;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
    h2 {
      text-shadow: 1px 1px 5px var(--color-5);
    }
    img {
      width: 100%;
      height: fit-content;
      box-shadow: 0px 0px 15px var(--color-5);
    }
  }
}

@media screen and (max-width: 1024px) {
  .production {
    padding: 15vh 5px 0;
    > :nth-child(1).step,
    > :nth-child(2).step {
      width: 100%;
    }
    .step {
      width: 100%;
    }
  }
}
