:root {
  --color-1: #f8d568;
  --color-2: #d4914b;
  --color-3: #a0412c;
  --color-4: #6b3e26;
  --color-5: #1e1b18;
  --color-6: #ede0c8;
}

body {
  margin: 0px;
  background: linear-gradient(var(--color-4), var(--color-5));
  color: var(--color-6);
  font-family: "Pirata One", serif;
  font-size: 20px;
}
